{{ $versions := (fromYaml (include "versions.yaml")) -}}
["bin/bundletool.jar"]
    type = "file"
    url = "https://github.com/google/bundletool/releases/download/{{ $versions.bundletool }}/bundletool-all-{{ $versions.bundletool }}.jar"
["bin/ollama"]
    type = "file"
    executable = true
    url = "https://github.com/ollama/ollama/releases/download/{{ $versions.ollama }}/ollama-linux-amd64"
["tools/quarto"]
    type = "archive"
    url = "https://github.com/quarto-dev/quarto-cli/releases/download/{{ $versions.quarto }}/quarto-{{ trimAll "v" $versions.quarto }}-linux-amd64.tar.gz"
    exact = true
    stripComponents = 1
