[user]
	name = Kevin Howell
	email = {{ .email }}
[core]
	editor = vim
	hooksPath = ~/.config/git/hooks
[init]
	defaultBranch = main
[diff]
	tool = meld_flatpak
[merge]
	tool = meld_flatpak
[difftool "meld_flatpak"]
  cmd = flatpak run --filesystem=/tmp org.gnome.meld $LOCAL $REMOTE
[mergetool "meld_flatpak"]
  cmd = flatpak run --filesystem=/tmp org.gnome.meld $LOCAL $BASE $REMOTE -o $MERGED --auto-merge
[mergetool]
	keepBackup = false
