[user]
	name = Kevin Howell
	email = {{ .email }}
[core]
	editor = vim
	hooksPath = ~/.config/git/hooks
[diff]
	tool = meld_flatpak
[difftool "meld_flatpak"]
  cmd = flatpak run \"--filesystem=$(realpath \"$LOCAL\")\" \"--filesystem=$(realpath \"$REMOTE\")\" org.gnome.meld \"$LOCAL\" \"$REMOTE\"
[init]
	defaultBranch = main
